################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/StarmanLib/.vs/StarmanLib/v16
*.user
Debug
.vs
