################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/StarmanLib/.vs/StarmanLib/v16
*.user
.vs
*.csv#
/StarmanLib/Debug/*
!/StarmanLib/Debug/StarmanLib.*
/StarmanLib/StarmanLib/Debug/*
/StarmanLib/StarmanLibTest/Debug
/StarmanLib/Release/StarmanLibTest.pdb
/StarmanLib/Release/StarmanLibTest.lib
/StarmanLib/Release/StarmanLibTest.exp
/StarmanLib/Release/StarmanLibTest.dll
/StarmanLib/StarmanLib/Release
/StarmanLib/StarmanLibTest/Release
/StarmanLib/BinToCsv/Debug
/StarmanLib/BinToCsvTest/Debug
/StarmanLib/CsvToBin/Debug
/StarmanLib/CsvToBinTest/Debug
/StarmanLib/BinToCsv/Release
/StarmanLib/CsvToBin/Release
